---
import Layout from "../layouts/Layout.astro"

import { db, Lyrics } from 'astro:db';

const lyricsArray = await db.select().from(Lyrics);
---
<Layout>
<h1 class="text-6xl text-blue-500">Lilycs</h1>

<h2>Litte lyrics:</h2>

{
  lyricsArray.map(({ text }) => (
    <article>
      <p>{text}</p>
    </article>
  ))
}
</Layout>
