---
import Layout from "../layouts/Layout.astro"

import { db, Artist, Lyrics, eq } from 'astro:db';

const lyricsArray = await db.select()
  .from(Lyrics)
  .innerJoin(Artist, eq(Lyrics.artistId, Artist.id));
---
<Layout>
<h1 class="text-6xl text-blue-500">Lilycs</h1>

<h2>Litte lyrics:</h2>

{
  lyricsArray.map(({ Lyrics, Artist }) => (
    <article>
      <p>{Lyrics.text}</p>
      <p>~~ {Artist.name}</p>
    </article>
  ))
}
</Layout>
