---
import Layout from "../layouts/Layout.astro"
import Header from "../components/Header.svelte"
import Lilycs from "../components/Lilycs.svelte"

import { db, Artist, Lyrics, eq } from 'astro:db';

const lyricsArray = await db.select()
  .from(Lyrics)
  .innerJoin(Artist, eq(Lyrics.artistId, Artist.id));
---
<Layout>
  <Header/>
  <section class="flex flex-col-reverse">
  {
    lyricsArray.map(({ Lyrics, Artist }) => (
      <Lilycs artist={Artist.name} lyrics={Lyrics.text} />
    ))
  }
  </section>
</Layout>
